#meal-img{
    width: 400px;
    heigh: 400px;
}

.meal-name{
    font-size: 26px;
}

.youtube{
    color: red;
}

#save1, #save2, #save3, #save4 {
    height: 300px;
    width: 300px;
    background-size: 300px;
    
}
